# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Executable files
src/gopcp.v2/chapter6/webcrawler/examples/finder/finder

# Output files & folders
src/gopcp.v2/chapter6/webcrawler/examples/finder/pictures/

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

# Mac
.DS_Store